@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gradient-to-br from-blue-950 via-gray-900 to-blue-950 text-gray-200 font-inter;
}

input, button {
  @apply transition-all duration-300;
}
